<style>
#creators .container {
	flex-wrap: wrap;
}

#creators ul li a {
	font-weight: normal;
}
</style>

{%extends "base.html"%}
{%load static%}

{%block content%}
	<h1>제작자들</h1>
	<br>
	<br>
	<br>
	<br>
	<h2>스토리</h2>
	<br>
	<br>
	<p>안영균(6기), 이예림(7기), 정석훈(7기), 홍완(7기)</p>
	<br>
	<br>
	<br>
	<br>
	<h2>디자인</h2>
	<br>
	<br>
	<p>문유진(7기), 이예림(7기), 이원준(8기), 정찬영(6기)</p>
	<br>
	<br>
	<br>
	<br>
	<h2>삽화</h2>
	<br>
	<br>
	<p>문유진(7기)</p>
	<br>
	<br>
	<br>
	<br>
	<h2>페이지 제작</h2>
	<br>
	<br>
	<p>윤동준(5기), 한수진(7기)</p>
	<br>
	<br>
	<br>
	<br>
	<h2>문제제작</h2>
	<br>
	<br>
    <p>문제를 풀때마다 제작자가 공개됩니다! :)</p>
    {% comment %} !문제 관련 제작자 공개 기능 구현! {% endcomment %}
    <br>
	<br>
	<br>
	<br>
	<h2>추가로 도움주신 분들</h2>
	<br>
	<br>
	<p>김민준(7기), 서범석(8기), 신동찬(7기), 윤초록(7기), 이대한(8기), 이해인(8기), 최지훈(6기), 김도형(5기), 박인영(6기), 배정찬(7기), 노희윤(8기), 김민준(8기)</p>
	<br>
	<br>
	<br>
	<br>
{%endblock%}