{%extends "base.html"%}
{%load static%}

{%block content%}

	<h1>진행방법</h1>
	<br>
	<br>
	<br>
	<p>‘선물’은 미궁 게임으로, 주어진 문제들을 풀어서 미궁의 끝에 도달하는 것이 목표인 게임입니다.</p>
	<p>미궁 게임은 매 페이지에 문제가 주어지고, 문제의 답을 입력하면 다음 페이지로 넘어가는 방식으로 진행됩니다.</p>
	<br>
	<br>
	<p>각 페이지는 스토리 혹은 문제를 포함하고 있습니다.</p>
	<p>일부 페이지의 경우 스토리에 삽화가 추가되어 있습니다.</p>
	<br>
	<br>
	<p>대부분의 문제에는 정답 형식이 명시되어 있습니다. 예를 들어,</p>
	<p>[Answer Type: English] 인 경우, 정답을 띄어쓰기 없이 영어 소문자로만 입력하시면 됩니다.</p>
	<p>[Answer Type: Korean] 인 경우, 정답을 띄어쓰기 없이 한글로만 입력하시면 됩니다.</p>
	<p>[Answer Type: Number] 인 경우, 정답을 띄어쓰기 없이 숫자로만 입력하시면 됩니다.</p>
	<p>해당되지 않는 문제의 경우 명시되어 있는 정답 형식을 참고하시면 됩니다.</p>
	<p>일부 문제의 경우 정답 형식이 명시되어 있지 않습니다.</p>
	<br>
	<br>
	<p>본 미궁은 로그인 후에 이용이 가능합니다.</p>
	<p>만약 본 미궁이 처음이시라면 Login 탭을 통해서 회원가입을 하실 수 있습니다.</p>
	<p>로그인 이후에는 History 탭을 통해 현재까지 푼 모든 문제에 접근하실 수 있습니다.</p>

{%endblock%}