<style>
textarea{
	width: 100%;
	min-height: 100px;
}
</style>

{%extends "base.html"%}
{%load static%}

{%block content%}
	<h1>명예의 전당</h1>
	<br>
	<br>
	<br>
	<br>
    
	{%if user.clear%}
		<p>축하합니다, 저희가 준비한 모든 문제를 풀어주셨군요!</p>
		<p>명예의 전당 등록을 원하신다면, 다음 메일로 아이디와 히스토리 페이지 스크린샷을 보내주시기 바랍니다.</p>
		<br>
		<p>kaistpuple@gmail.com</p>
		<br>
		<p>다시 한번 미궁 클리어를 축하드립니다!!</p>
		<br>
		<br>
		<br>
		<br>
    {%endif%}

	<h2>1등: 구인용(quotation), 박철홍(wtf), 김종민(mathkjm97) 팀</h2>
	<br>
	<br>
	<p>구인용: 신은 나였다</p>
	<p>박철홍: 끝까지 갈 줄 알았으면 아이디 제대로 지을걸</p>
	<p>김종민: 아이디와 남기고픈 한마디</p>
	<br>
	<br>
	<br>
	<br>
	<h2>2등: Colory(Colory)</h2>
	<br>
	<br>
	<p>오랜만에 좋은 문제들 많이 풀 수 있어서 행복했습니다</p>
	<p>퍼플 화이팅 대탈출 화이팅</p>
	<br>
	<br>
	<br>
	<br>
	<h2>3등: 이동호(lazywhale)</h2>
	<br>
	<br>
	<p>내일 3월 29일은 레드벨벳 아이린의 생일입니다! 모두 축하해 주세요!!</p>
	<br>
	<br>
	<br>
	<br>
	<h2>4등: Albeaze(Albeaze), Leof(albeaze) 팀</h2>
	<br>
	<br>
	<p>A: 제가 푼 최고의 미궁중 하나가 될것같습니다.</p>
	<p>스토리와 문제 모두 취저였어요. 수고염.</p>
	<p>L: 너무 강한 힌트들이 공유되고 있다는게 안타까울 정도였어요.</p>
	<p>정말 재밌고 잘 만든 문제들이니 시간들여 풀 가치가 충분하다고 생각해요! 화이팅!</p>
	<br>
	<br>
	<br>
	<br>
	<h2>5등: 김신호(sinho419), 오승석(littlestein), 이재훈(xrong) 팀</h2>
	<br>
	<br>
	<p>김신호: 최고의 미궁이 아니었나 싶습니다! 곧 출시될 저희 미궁도 기대해주세요!</p>
	<p>오승석: 그저슥석했을뿐</p>
	<p>이재훈: 카포리스웨트</p>
	<br>
	<br>
	<br>
	<br>
	<h3>6등: 박병훈(page), 류승환(류승환), 김남욱(hjn0729), 김주원(kjwispro) 팀</h3>
	<br>
	<br>
	<p>박병훈: 아직 졸업 안했다.</p>
	<p>류승환: C까진 쉬웠는데... 쉬웠는데... 쉬웠는데...</p>
	<p>김남욱: 총학생회 파이팅</p>
	<p>김주원: 현재 시각 오전 5시 11분.....내가 미궁을 하는가 미궁이 나를 하는가</p>
	<br>
	<br>
	<br>
	<br>
	<h3>7등: 김성호(neuronbrk)</h3>
	<br>
	<br>
	<p>깔</p>
	<br>
	<br>
	<br>
	<br>
	<h3>8등: SASA(이준호, 최정담, 신주형, 김시은, 이준모, 연제호, 정영욱) 팀</h3>
	<br>
	<br>
	<p>아 소감이 미궁보다 더 어렵네</p>
	<br>
	<br>
	<br>
	<br>
	<h3>9등: 임현우(임현우)</h3>
	<br>
	<br>
	<p>시험기간이 아니라서 다행</p>
	<br>
	<br>
	<br>
	<br>
	<h3>10등: 정재훈(ktleegtlee), 장창민(LollingMedic), 이한주(dlgks224), 최형우(천재), 조범근(dolphin)</h3>
	<br>
	<br>
	<p>드디어 다깻다 이제 자랭하러 갑니다. **롤 스크림문의는 리부트닉 최열기 롤닉 차보국 귓말주세요.**</p>
	<br>
	<br>
	<br>
	<br>
{%endblock%}